form input {
  color: blue;
}

div input {
  color:green;
}

@Keyframes animar {
  from{
    background-color: yellow;
    width: 50px;
  }
  to {
    background-color: blue;
    width: 199px;
  }
}

input[type="submit"]{
  //animation-name: animar;
  //animation-duration: 15s;
}
